* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}
body {
    background-color: var(--very-light-gray);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 30px;
}
.header h1 {
    color: var(--very-dark-blue);
    font-weight: 600;
    padding-bottom: 10px;
}
.header h2 {
    color: var(--grayish-blue);
    font-weight: 200;
    font-size: 29px;
}
.header p {
    color: var(--grayish-blue);
     
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
    }
    .header h2 {
        font-size: 20px;
    }
    .header h1 {
        font-size: 23px;
        padding-bottom: 20px;
    }
}
.container {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.cards-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
.card {
    width: 380px;
    height: 250px;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: -6px 13px 21px hsla(229, 6%, 66%, 0.52);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.card:hover {
    opacity: 50%;
    transform: translateY(10px);
}
.card h3 {
    color: var(--very-dark-blue);
    font-weight: 600;
}
.card p {
    color: var(--grayish-blue);
}
.card-1 {
    border-top: 5px solid var(--cyan);
}
.card-2 {
    border-top: 5px solid var(--red);
}
.card-3 {
    border-top: 5px solid var(--orange);
}
.card-4 {
    border-top: 5px solid var(--blue);
}
.icons {
    position: relative;
    top: 20px;
    left: 250px;
}
.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(0, 100%, 40%); }

@media only screen and (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        justify-content: center;
    }
    .card {
        width: 300px;
        height: 200px;
        padding: 15px;
    }
    .icons {
        left: 200px;
    }
    .card-1,
    .card-3 {
        margin-bottom: 20px;
    }
    .attribution {
        position: relative;
        top: calc(100% + 310px);
    }
}